<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>

  <property name="logDir" value="/var/log/sample-web-board/"/>
  <property name="fileName" value="sample-web-board.log" />
  <property name="format" value="%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] [%-5le] %lo{36} - %msg %n"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${format}</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${logDir}${fileName}</file>
    <append>true</append>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logDir}${fileName}.%d{yyyyMMdd}.log</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${format}</pattern>
    </encoder>
  </appender>

  <!-- アプリケーション本体のログ出力設定 -->
  <logger name="com.sample.board" level="INFO"></logger>

  <root level="INFO">
    <appender-ref ref="FILE"/>
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>