<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>BAD REQUEST</title>
</head>

<body>
  <main>
  <section>
    <div>
      <div>BAD REQUEST</div>

      <div>
        <h1>リクエストにエラーがあります</h1>

        <hr>
        <p>リクエストの値が正常ではありません。確認してください。</p>
      </div>
    </div>
  </section>
  </main>
</body>
</html>

