<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.8.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <title>ログイン</title>
</head>
<body>
<form th:action="@{/security/login}" method="post">
    <input type="text" name="userId" placeholder="ユーザID" maxlength="25" required/><br>
    <br>
    <input type="text" name="password" placeholder="パスワード" maxlength="25" required/><br>
    <br>
    <input type="submit" value="ログイン"/>
</form>
<br>
<a href="user/register">ユーザの新規登録はこちら</a>
</body>
</html>